* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main_div {
    position: relative;
}

.banner {
    background: url("/images/banner/banner2.png") no-repeat;
    width: 100vw;
    height: 800px;
    margin: 0;
    background-size: cover;
}

.banner-textArea {
    width: 500px;
    float: right;
    margin: 170px 200px 120px 0px;
}

.banner-title {
    font-size: 50px;
    text-align: right;
    padding: 10px;
    font-weight: bolder;
}

.banner-description {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: right;
    color: rgb(82, 82, 71);
}

.contact_btn {
    background-color: #FD6E0A;
    padding: 13px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    float: right;
}

.profile {
    display: flex;
    height: 1000px;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.profile_image {
    width: 525px;
    height: 525px;
    border-radius: 50%;
    background-color: #f5ad72;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.profile_description {
    width: 400px;
}

.profile_subdescription {
    font-size: 14px;
    margin-top: 30px;
    color: rgb(82, 82, 71);
}

.profile_description>ul {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    width: 100%;
}

.profile_description>ul>li {
    list-style: none;
    font-size: 14px;
    color: rgb(82, 82, 71);
    margin-bottom: 10px;
}

.icon {
    color: rgb(84, 173, 118);
    margin-right: 10px;
}

.call_now {
    padding: 0px 200px;
    position: relative;
    height: 450px;
}

.gradient_image {
    position: absolute;
    z-index: 50;
}

.watch_image {
    position: absolute;
}

.call_now_description {
    position: absolute;
    z-index: 100;
    padding: 50px;
}

.call_now_title {
    color: white;
    font-size: 50px;
    font-weight: 900;
}

.call_now_btn {
    background-color: #ffffff;
    margin-top: 20px;
    padding: 16px 18px;
    border-radius: 5px;
    border: none;
    color: #bb5d0f;
    font-size: 16px;
    font-weight: 600;
}

/* *{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
} */
.what-i-do {
    text-align: center;
}

.section-title {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 50px;
    color: black;
}

/* .section-description{
    /* color: #757575; */
/* font-size: 18px;
margin-bottom:30px;
} */
.skills-container {
    display: flex;
    gap: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}



.footer_main {
    font-size: 50px;
    color: #ffffff;
}

.footer_title {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.future {
    width: 400px;
}

.future a {
    text-decoration: none;
    gap: 20px;

}

.footer_description {
    font-size: 14px;
    margin-top: 30px;
    color: rgb(243, 243, 239);
}

.sub-btn {
    margin-top: 50px;
    text-align: left;
}

.btn-primary {
    color: #FD6E0A;
    font-weight: 600;
    font-size: 20px;
    height: 45px;
    border: 0;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: #FFFFFF;

}

.future input[type="email"],
textarea {
    margin-bottom: 15px;
    border: 0;
    width: 50%;
    padding: 10px 20px;
}

/* input {
    height: 30px;
} */